#ignore all files, then unignore files with extensions, directories, Makefiles
#this has the result of ignoring binary files
*
!*.*
!*/
!Makefile
*.bin

#ignore junk files from compiling C code
*.o
*.a

#ignore assembly .s files (used for testing)
*.s

#ignore temp files
*~

#ignore IDE files
*.idea
.idea/


#ignore other junk files
*.pdf
*.out
*.log
*.aux
*.dvi
*.ps
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc
*.DS_Store

