#This the the canonical lab .gitignore file

#ignore all files, then unignore files with extensions, directories, Makefiles
#this has the result of ignoring binary files
*
!*.*
!*/
!Makefile
*.bin

#ignore temp files
*~

#ignore pdf files (just keep source files)
*.pdf

#ignore junk files from latex output
*.out
*.log
*.aux
*.dvi
*.ps

#ignore junk files from compiling C code
*.o
*.a

#ignore binary files used for testing
*.bin

#ignore IDE files
*.idea
.idea/


#ignore other junk files
*.backup
*.kate-swp
*.swp
*.snm
*.vrb
*.nav
*.toc
*.DS_Store

